/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
/public/assets/eap-online
/public/assets/expert-data-files
/public/assets/company-website
/app/Console/Commands/queue.pid
/public/assets/myeap/*
/public/assets/eap-online/*
/public/assets/docs/invoices/*
/public/js/*
/public/js/client/master.js
/public/assets/css/client/master.css
/public/assets/cases/*
/public/assets/livewire-tmp/*
/public/assets/expert-data-files
/public/assets/onsite-consultation-expert-files
/public/assets/live-webinar-images
